.whole {
  background: #fff;
  border: 1px solid rgb(213, 213, 213);
  border-radius: 4px;

  .hide {
    display: none;
  }

  .additional {
    padding-left: auto;
    padding-right: auto;
  }

  .card {
    padding: 15px;
    padding-bottom: 0px;
    font-family: "Lucida Grande", serif;

    .avatar {
      width: 45px;
      height: 45px;
      float: left;
    }

    .contacts {
      margin-left: 55px;

      div {
        color: #999;
        font-size: 11px;
        margin-bottom: 8px;

        &.name {
          font-size: 14px;
          line-height: 1.286;
          color: #444;
          font-weight: bold;
          margin-bottom: 8px;
        }
      }
    }

    .counts {
      margin: 0px;
      margin-top: 15px;

      li {
        display: inline-block;
        font-size: 11px;
        color: #999;
        width: 44px;
        line-height: 1.286;

        .ticket_status_label {
          padding: 0;
          padding-left: 4px;
          padding-right: 4px;
          height: 4px;
          display: inline-block;
        }
      }
    }
  }

  .expandBar {
    background-color: rgb(251, 251, 251);
    border-top: 1px solid rgb(213, 213, 213);
    padding-top: 4px;
    padding-bottom: 4px;
    display: block;
    margin-top: 20px;

    &:hover {
      background: -webkit-linear-gradient(90deg, rgba(0, 0, 0, 0.11) 0%, rgba(245,245,245,0) 100%);
      background:    -moz-linear-gradient(90deg, rgba(0, 0, 0, 0.11) 0%, rgba(245,245,245,0) 100%);
      background:     -ms-linear-gradient(90deg, rgba(0, 0, 0, 0.11) 0%, rgba(245,245,245,0) 100%);
    }

    span {
      display: block;
      margin-left: auto;
      margin-right: auto;
      opacity: 0.4;
    }
  }
}