.admin {
  p {
    color: #999;
    margin-top: 1em;
    margin-bottom: 1em;
  }

  label {
    display: inline;
  }

  .back {
    display: block;
    float: right;
    opacity: 0.5;
    margin-top: 3px;
  }

  .save {
    display: block;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px;
  }
}

.whole {
  background: #fff;
  border: 1px solid rgb(213, 213, 213);
  border-radius: 4px;

  .hide {
    display: none;
  }

  .additional {
    padding-left: auto;
    padding-right: auto;

    .field {
      margin-left: 15px;
      margin-right: 15px;
      margin-top: 15px;
      border-top: 1px solid #f0f0f0;
      padding-top: 15px;

      h4 {
        font-size: 11px;
        color:  #999;
        font-weight: normal;
      }

      p {
        font-size: 12px;
        color:  #444;
        line-height: 1.5;
      }
    }
  }

  .card {
    padding: 15px;
    padding-bottom: 0px;
    font-family: "Lucida Grande", serif;

    .cog {
      float: right;
      opacity: 0.5;

      &:hover {
        opacity: 1;
      }
    }

    .social {
      float: right;
      position: relative;
      margin-top: 28px;
      left: 12px;

      a {
        display: block;
        background-image: app-asset-url("ico-social-sprite.png");

        &.facebook {
          width: 5px;
          height: 10px;

          &:hover {
            background-position: 0px -11px;
          }
        }

        &.twitter {
          width: 11px;
          height: 10px;
          background-position: -6px 0px;

          &:hover {
            background-position: -6px -11px;
          }
        }
      }
    }

    .avatar {
      width: 45px;
      height: 45px;
      float: left;

      &.default {
        background-image: app-asset-url("avatar.png");
      }

      img {
        border-radius: 4px;
      }
    }

    .contacts {
      margin-left: 55px;

      div {
        color: #999;
        font-size: 11px;
        margin-bottom: 8px;

        &.name {
          font-size: 14px;
          line-height: 1.286;
          color: #444;
          font-weight: bold;
          margin-bottom: 8px;
        }
      }
    }

    .counts {
      margin: 0px;
      margin-top: 15px;

      li {
        display: inline-block;
        font-size: 11px;
        color: #999;
        width: 44px;
        line-height: 1.286;

        .ticket_status_label {
          font-size: 11px;
          padding: 0;
          padding-left: 4px;
          padding-right: 4px;
          height: 4px;
          display: inline-block;
        }
      }
    }
  }

  .expandBar {
    background-color: rgb(251, 251, 251);
    border-top: 1px solid rgb(213, 213, 213);
    padding-top: 4px;
    padding-bottom: 4px;
    display: block;
    margin-top: 20px;

    &:hover {
      background: -webkit-linear-gradient(90deg, rgba(0, 0, 0, 0.11) 0%, rgba(245,245,245,0) 100%);
      background:    -moz-linear-gradient(90deg, rgba(0, 0, 0, 0.11) 0%, rgba(245,245,245,0) 100%);
      background:     -ms-linear-gradient(90deg, rgba(0, 0, 0, 0.11) 0%, rgba(245,245,245,0) 100%);
    }

    span {
      display: block;
      margin-left: auto;
      margin-right: auto;
      opacity: 0.4;
    }
  }
}