@import '~@zendeskgarden/css-bedrock';
@import '~@zendeskgarden/css-tags';
@import '~@zendeskgarden/css-forms';
@import '~@zendeskgarden/css-buttons';
@import '~@zendeskgarden/css-callouts';

$svg-default-color: #68737D;
$svg-onhover-color: #D8DCDE;

html, body {
  overflow: hidden;
  padding: 0 3px;
}

.loader {
  width: 40px;
  display: block;
  margin: 45px auto;
}

.box.apps_ticket_sidebar.app_view {
  padding-bottom: 0px;
  padding-top: 15px;
  color: #333;
}

.no_requester {
  text-align: center;
}

.admin {
  margin-top: 2px;
  margin-bottom: 15px;

  .c_chk {
    margin-bottom: 4px;
  }

  p {
    color: #2F3941;
    margin-bottom: 1em;
  }

  .hide_empty_fields, .org_fields {
    margin-top: 20px;
  }

  .org_fields_list {
    margin-left: 23px;
  }

  .back {
    display: block;
    float: right;
    opacity: 0.5;
    margin-top: 3px;
  }

  .save {
    display: block;
    margin: 20px auto;
    text-align: center;

    .spinner {
      display: none;
      width: 35px;
      margin-top: 4px;
    }
  }
}

.icon_circle_arrow_left {
  color: $svg-default-color;
  cursor: pointer;

  svg {
    top: 2px;
    float: right;
    position: relative;
    margin-right: 2px;
    width: 12px;
    height: 12px;
    display: inline-block;

    &:hover {
      color: $svg-onhover-color;
    }
  }
}

.ticket_status_label {
  color: #FFFFFF;
  border-radius: 3px;

  &.new {
    background: #FFB648; /* Yellow-400 */
    color: #703B15; /* Yellow-800 */
  }
  &.open {
    background: #E82A2A; /* Crimson-400 */
    color: #FFFFFF;
  }
  &.solved {
    background: #87929D; /* Grey-500 */
    color: #FFFFFF;
  }
  &.pending {
    background: #3091EC; /* Azure-400 */
    color: #FFFFFF;
  }
  &.hold {
    background: #2F3941; /* Grey-800 */
    color: #FFFFFF;
  }
  &.closed {
    background: #D8DCDE; /* Grey-300 */
    color: #49545C; /* Grey-700 */
  }
}

.whole {
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  background: #fff;

  .hide {
    display: none;
  }

  .additional {
    padding-left: auto;
    padding-right: auto;

    .field {
      margin-top: 12px;
      border-top: 1px solid #E9EBED;
      padding-top: 8px;

      textarea {
        height: 72px;
      }

      &.builtin.tags {
        ul {
          margin-left: 0;
        }

        h4, p {
          margin-top: 2px;
        }

        hr {
          clear: both;
          border: 0px;
          margin-bottom: 0px;
        }
      }

      h4 {
        font-size: 14px;
        color: #2F3941;
        font-weight: bold;
        margin-bottom: 10px;
      }

      p {
        font-size: 14px;
        color: #2F3941;
        line-height: 1.4;
      }
    }
  }

  .card {

    &.org {
      border-top: 1px solid #E9EBED;
      padding-top: 10px;
      margin-top: 10px;
    }

    .cog {
      color: $svg-default-color;
      cursor: pointer;

      svg {
        float: right;
        position: relative;
        top: 2px;
        left: 0px;
        width: 16px;
        height: 16px;
        display: inline-block;

        &:hover {
          color: $svg-onhover-color;
        }
      }
    }

    .social {
      float: right;
      margin-top: 23px;
      margin-right: -12px;

      a {
        display: inline-block;
        background-image: url("images/ico-social-sprite.png");

        &.facebook {
          width: 5px;
          height: 10px;

          &:hover {
            background-position: 0px -11px;
          }
        }

        &.twitter {
          width: 11px;
          height: 10px;
          background-position: -6px 0px;

          &:hover {
            background-position: -6px -11px;
          }
        }
      }
    }

    .avatar {
      width: 24px;
      height: 24px;
      float: left;

      &.default {

        svg {
          width: 24px;
          height: 24px;
          margin-top: 3px;
        }

      &.org svg {
        margin-top: 0px;
        }
      }

      img {
        border-radius: 24px;
        margin-top: 3px;
      }
    }

    .contacts {
      margin-left: 34px;

      div {
        color: $svg-default-color;
        font-size: 14px;
        word-wrap: break-word;

        &.name {
          font-size: 14px;
          font-weight: 600;

          a {
            color: #2F3941;
          }
        }

        &.organization {
          a {
            color: $svg-default-color;
          }
        }

        &.name, &.organization {
          a {
            &:hover {
              color: #146eaa;
            }
          }
        }
      }
    }

    .counts {
      margin: 0px;
      margin-top: 16px;
      display: flex;
      justify-content: space-between;

      li {
        display: inline-block;
        font-size: 12px;
        color: $svg-default-color;
        line-height: 1.486;

        a {
          color: #2F3941;
          position: relative;
          top: 2px;
        }

        .ticket_status_label {
          display: inline-block;
          height: 15px;
          width: 15px;
          font-weight: bold;
          text-transform: uppercase;
          font-size: 10px;
          line-height: 15px;
          text-align: center;
          vertical-align: middle;
          box-sizing: border-box;
          white-space: nowrap;
        }
      }
    }
  }

  .expand_bar {
    cursor: pointer;
    border-top: 1px solid #f0f0f0;
    padding: 0px;
    display: block;
    margin-top: 12px;
    padding-top: 5px;
    height: 18px;

    svg {
      color: $svg-default-color;

      &.expanded {
        transform: rotate(180deg);
      }

      &:hover {
        stroke-width: 2;
        color: $svg-onhover-color;
      }
    }
  }
}
