html, body {
  overflow: hidden;
}

.loader {
  padding-left: 144px;
  padding-top: 60px;
}

.box.apps_ticket_sidebar.app_view {
  padding-bottom: 0px;
  padding-top: 15px;
  color: #333;
}

.admin {
  margin-bottom: 15px;
  p {
    color: #999;
    margin-top: 1em;
    margin-bottom: 1em;
  }

  .fields-list {
    label {
      display: inline;
    }
  }

  .org-fields {
    margin-top: 15px;
  }

  .back {
    display: block;
    float: right;
    opacity: 0.5;
    margin-top: 3px;
  }

  .save {
    display: block;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px;
  }
}

i.icon-circle-arrow-left {
  display: inline-block;
  width: 14px;
  height: 14px;
  line-height: 14px;
  vertical-align: text-top;
  background-image: url("images/glyphicons.png");
  background-position: -264px -144px;
  background-repeat: no-repeat;
}

.ticket_status_label {
  color: #FFFFFF;
  border-radius: 3px;

  &.new {
    background: #F5CA00;
  }
  &.open {
    background: #E82A2A;
  }
  &.solved {
    background: #828282;
  }
  &.pending {
    background: #59BBE0;
  }
  &.hold {
    background: #000000;
  }
  &.closed {
    background: #DDDDDD;
  }
}

.whole {
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  background: #fff;

  .hide {
    display: none;
  }

  .additional {
    padding-left: auto;
    padding-right: auto;

    .field {
      margin-top: 15px;
      border-top: 1px solid #f0f0f0;
      padding-top: 10px;

      textarea {
        box-shadow: white 0px 0px 0px 0px inset;
        padding: 0px;
        width: 100%;
        height: 72px;
        box-sizing: border-box;
        border: 0px;
        font-size: 14px;
      }

      &.builtin.tags {
        ul {
          margin-left: 0;
        }

        h4, p {
          margin-top: 2px;
        }

        hr {
          clear: both;
          border: 0px;
          margin-bottom: 0px;
        }

        li {
          float: left;
          margin: 0 3px 3px 0;
          padding: 3px 6px 4px 6px;
          font-size: 11px;
          line-height: 13px;
          display: block;
          background: #f4f4f4;
          color: #333;
          min-height: 13px;
          border-radius: 3px;
          border: 1px solid #ddd;
          word-break: break-all;
          white-space: pre-wrap;
          white-space: -moz-pre-wrap;
          word-wrap: break-word;
          -ms-word-break: break-all;
        }
      }

      h4 {
        font-size: 14px;
        color:  #999;
        font-weight: normal;
        margin-bottom: 10px;
      }

      p {
        font-size: 14px;
        color:  #555;
        line-height: 1.4;
      }
    }
  }

  .card {

    &.org {
      border-top: 1px solid #f0f0f0;
      padding-top: 15px;
      margin-top: 15px;
    }

    .cog {
      float: right;
      position: relative;
      top: 0px;
      left: 0px;
      width: 12px;
      height: 12px;
      display: inline-block;
      background-image: url("images/ico-settings-normal.png");

      &:hover {
        background-image: url("images/ico-settings-hover.png");
      }
    }

    .social {
      float: right;
      margin-top: 23px;
      left: 12px;

      a {
        display: block;
        background-image: url("images/ico-social-sprite.png");

        &.facebook {
          width: 5px;
          height: 10px;

          &:hover {
            background-position: 0px -11px;
          }
        }

        &.twitter {
          width: 11px;
          height: 10px;
          background-position: -6px 0px;

          &:hover {
            background-position: -6px -11px;
          }
        }
      }
    }

    .avatar {
      width: 50px;
      height: 50px;
      float: left;

      &.default {
        background-image: url("images/avatar.png");
        background-size: cover;
        border-radius: 50px;

        &.org {
          background-image: url("images/org.png");
        }
      }

      img {
        border-radius: 50px;
      }
    }

    .contacts {
      margin-left: 65px;

      div {
        color: #999;
        font-size: 14px;
        word-wrap: break-word;

        &.name {
          font-size: 16px;
          font-weight: 600;

          a {
            color: #555;
          }
        }

        &.organization {
          a {
            color: #999;
          }
        }

        &.name, &.organization {
          a {
            &:hover {
              color: #146eaa;
            }
          }
        }
      }
    }

    .counts {
      margin: 0px;
      margin-top: 30px;

      li {
        display: inline-block;
        font-size: 12px;
        color: #999;
        width: 50px;
        line-height: 1.486;

        a {
          color: #999;
          position: relative;
          top: 2px;
        }

        .ticket_status_label {
          font-size: 10px;
          line-height: 14px;
          padding: 0;
          padding-left: 4px;
          padding-right: 4px;
          height: 15px;
          display: inline-block;
          vertical-align: middle;
          box-sizing: border-box;
          white-space: nowrap;
          text-align: center;
          opacity: 0.6;
          width: 15px;
        }
      }
    }
  }

  .expand-bar {
    cursor: pointer;
    background-color: #fff;
    border-top: 1px solid #f0f0f0;
    padding-top: 0px;
    padding-bottom: 15px;
    display: block;
    margin-top: 30px;

    .arrow {
      margin-top: 12px;
      height: 6px;
      min-width: 11px;
      display: block;
      background-repeat: no-repeat;
      background-position: center;

      &.arrow-down {
        background-image: url("images/ico-arrow-down-normal.png");
        &:hover {
          background-image: url("images/ico-arrow-down-hover.png");
        }
      }

      &.arrow-up {
        background-image: url("images/ico-arrow-up-normal.png");
        &:hover {
          background-image: url("images/ico-arrow-up-hover.png");
        }
      }
    }

    &:hover {
      background-image: url("images/hover-bg.png");
      background-repeat: no-repeat;
      background-position: center top;
    }

    span {
      display: block;
      margin-left: auto;
      margin-right: auto;
      opacity: 0.4;
    }
  }
}
